.btnDiv_ccl {
  position: relative;
  height: 24px;
  margin-bottom: 1vh;
  width: 1610px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.addBtn_ccl{
  min-width: 50px;
  height: 25px;
  background: rgb(214, 214, 214);
  border: none;
  border-radius: 25px;
  color: rgb(50, 207, 207);
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.6);
}

.refreshBtn_ccl{
  min-width: 100px;
  height: 25px;
  margin-top: 0;
  background: rgb(214, 214, 214);
  border: none;
  border-radius: 25px;
  color: rgb(50, 207, 207);
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    7px 7px 20px 0 rgba(0, 0, 0, 0.6);
}

.addBtn_ccl:hover,
.refreshBtn_ccl:hover{
  box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.edit_delete_btn{
  background-color: transparent;
  display: flex;
  align-items: left;
  justify-content: left;
}

.editBtn .deleteBtn{
  margin: none;
  padding: none;
}

.CCLDataTable {
  border: 1px solid rgba(255, 255, 255, .25) !important;
  border-radius: 20px !important;
  background-color: rgba(255, 255, 255, 0.164) !important;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25) !important;
  backdrop-filter: blur(15px) !important;
  margin-top: 20px !important
}

.CCLDataTable .MuiTableRow-root{
  height: 25px !important;
}

.CCLDataTable .MuiTableCell-root{
  padding: 4px 16px !important;
}

.CCLDataTable .MuiTableCell-head {
  background-color: rgba(255, 255, 255, 0.096) !important;
}

.CCLDataTable .MuiTableHeead-root{
  box-shadow: none !important;
}

.tableCCL{
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  position: relative;
  top: 65px;
}

/* Coloured Title Text */
.cclTxt:hover{
  cursor: none;
  transition: ease-in-out;
}

.cclTxt{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  white-space: nowrap;
}

  .outer {
    position: absolute;
      top: 140px; 
      right: 310px;
    width: 35px;
    cursor: pointer;
    z-index: 2;
  }
  
  .inner {
    width: 35px;
    text-align: center;
  }
  
  .closeLabel { 
    font-size: .8em; 
    line-height: 2em;
    text-transform: uppercase;
    color: grey;
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  
  .inner:before, .inner:after {
    position: absolute;
    content: '';
    height: 1px;
    width: inherit;
    background: #32cfcf;
    left: 0;
    transition: all .3s ease-in;
  }
  
  .inner:before {
    top: 50%; 
    transform: rotate(45deg);  
  }
  
  .inner:after {  
    bottom: 50%;
    transform: rotate(-45deg);  
  }
  
  .outer:hover label {
    opacity: 1;
  }
  
  .outer:hover .inner:before,
  .outer:hover .inner:after {
    transform: rotate(0);
  }
  
  .outer:hover .inner:before {
    top: 0;
  }
  
  .outer:hover .inner:after {
    bottom: 0;
  }